@media only screen and (max-width: 1300px) {
  .content {
    height: 100%;
  }
  .page1 {
    height: 70vh;
  }
  .container {
    margin: 80px 5px 170px 5px;
  }
  .oneScroll {
    display: none;
  }
  .profile {
    width: 40%;
  }
  .profile img {
    margin-top: 0px;
    margin-left: 20px;
    width: 85%;
    height: 90%;
  }

  .aboutMe {
    width: 50%;
    padding: 10px;
  }
  .aboutMe p {
    padding-right: 0px;
    font-size: 20px;
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .projectImg img {
    width: 95%;
    height: 65%;
  }
  .circle{
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .content {
    width: 100%;
    height: 100%;
    background-image: none;
  }
  .page1 {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-image: url("../images/page1_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .navbar {
    padding: 0px;
    font-family: "Baloo Da 2", sans-serif;
    font-weight: 400;
  }
  .navbar ul {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .navbar ul div {
    width: 70px;
    height: 74px;
    font-size: 18px;
    padding: 0;
  }
  .container {
    margin: 5px 5px 50px 5px;
    padding: 160px 10px 10px 10px;
    width: 100%;
    height: 80vh;
    text-align: left;
    align-content: start;
    box-sizing: border-box;
  }
  .name {
    font-size: 3.2rem;
  }
  .desc {
    font-size: 1.8rem;
  }
  .logos {
    margin: 16px 5px;
  }
  .oneScroll {
    display: block;
    padding-left: 35px;
    margin: 0;
  }
  .oneScroll img {
    filter: brightness(0);
    height: 30px;
  }

  .section1 {
    margin-bottom: 80px;
    min-height: 100vh;
    min-height: 100svh;
    flex-direction: column;
    justify-content: flex-start;
  }
  .profile {
    width: 100%;
    height: 45vh;
  }
  .profile img {
    margin-top: 10px;
    margin-left: 0;
    width: 255px;
    height: 340px;
  }
  .aboutMe {
    align-content: center;
    text-align: left;
    width: 100%;
    padding: 0;
  }
  .aboutMe h1 {
    margin-bottom: 5px;
    padding-left: 15px;
  }
  .aboutMe p {
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
    font-size: 17px;
  }
  .aboutMe div {
    text-align: center;
  }

  #splash1 {
    display: block;
    position: absolute;
    top: 820px;
    right: 0px;
    width: 150px;
    height: 150px;
    z-index: -1;
  }
  #splash2 {
    display: block;
    position: absolute;
    top: 1415px;
    right: 0;
    width: 400px;
    height: 700px;
    opacity: 0.5;
  }
  .div_splash3 {
    align-content: center;
    text-align: -webkit-right;
  }
  #splash3 {
    display: block;
    width: 150px;
    height: 150px;
  }

  .section2 {
    position: relative;
    margin-bottom: 0px;
    min-height: 100vh;
    min-height: 100svh;
  }
  .card {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 0;
  }
  .projectDesc {
    position: unset;
    background-color: unset;
    width: 100%;
    height: 100%;
  }
  .projectDesc h1 {
    margin: 10px 0 0 0;
  }
  .projectDesc h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
  }
  .projectDesc p {
    font-size: 17px;
    padding: 0 15px;
  }
  .projectDesc .tags {
    padding-left: 15px;
  }
  .projectDesc .link {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
  }
  .projectImg {
    background-color: unset;
    border-radius: 0;
    width: 100%;
    align-content: start;
  }
  .projectImg img {
    width: 340px;
    height: 330px;
  }
  .projectDesc .buttons {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .section3 {
    min-height: 83vh;
    min-height: 83svh;
  }
  .contactPage {
    flex-direction: column;
    height: 90%;
  }
  .contactDesc {
    width: 100%;
    height: 33%;
    padding: 10px 20px;
    align-content: start;
    font-size: 1.75rem;
    line-height: 1.5;
    box-sizing: border-box;
  }
  .contactForm {
    width: 100%;
  }
  .contactForm form button {
    font-size: 17px;
  }
  .circle{
    display: none;
  }
}
